{{ attach_library('spa_module/my-react-app') }}
<h1>Twig working</h1>
    <div>
    {# {% debug page.content %} #}
    {# {{ page.content | raw }} #}
<div>{{ page.content }}
<h1>Testing variables</h1>{{ variables }}</div>
</div>
<div id="root">
</div>